ToBeDoneBundle\Entity\User:
    type: entity
    table: users
    repositoryClass: ToBeDoneBundle\Entity\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO

    oneToMany:
        tasks:
            targetEntity: ToBeDoneBundle\Entity\Task
            mappedBy: user

    fields:
        username:
            type: string
            length: 255
            unique: true
        email:
            type: string
            length: 255
        password:
            type: string
            length: 255
        isActive:
            type: boolean
