body {
    background: #122b40;
    color: papayawhip;
}

input, select, textarea, button {
    color: #23527c;
}

.day-tasks {
    background: papayawhip;
    color: #23527c;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid black;
}

.date-label {
    padding-right: 10px;
}

.task-done {
    color: #3c3c3c;
    text-decoration: line-through;
}

.task-not-done {
    font-weight: bold;
}

li form {
    display: inline;
}

.set-task-done-button {

}

.new-task-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-button {
    background: none;
    border: none;
    color: #23527c;
    cursor: pointer;
    padding: 0;
}

.link-button:hover {
    text-decoration: underline;
}

.credentials-box {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}