body {
    background: #122b40;
    color: papayawhip;
}

input, select, textarea, button {
    color: #23527c;
}

.day-tasks {
    background: papayawhip;
    color: #23527c;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid black;
}

.date-label {
    padding-right: 10px;
}

.task-done {
    color: #3c3c3c;
    text-decoration: line-through;
}

.task-not-done {
    font-weight: bold;
}

li form {
    display: inline;
}

.set-task-done-button {

}

.new-task-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-button {
    background: none;
    border: none;
    color: #23527c;
    cursor: pointer;
    padding: 0;
}

.link-button:hover {
    text-decoration: underline;
}

.credentials-box {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    body {
        background: #f1f1f1;
        color: black;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .day-tasks {
        background: white;
        border: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        font-size: 1.2em;
        border-radius: 0;
        min-height: 2em;
    }

    .date-label {
        font-size: 0.8em;
        color:#8c8c8c;
        padding-top: 5px;
    }

    .link-button {
        text-align: left;
    }

    ul {
        padding-left: 20px;
    }

    ul form li {
        list-style-type: none;
    }
}