body {
    background: #f1f1f1;
    color: black;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.day-tasks {
    background: white;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    border-radius: 0;
    min-height: 2em;
}

.link-button {
    font-weight: bold;
    text-align: left;
    background: none;
    border: none;
    color: #002a59;
    cursor: pointer;
    padding: 0;
}

.link-button:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
    padding-right: 20px;
}

li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkgrey;
}

li:last-of-type {
    border-bottom: none;
}