{% extends 'base.html.twig' %}

{% block body %}

  {% for filename in fileNames %}
    <li>
      <a href="{{ path('video', {'filename': filename}) }}">{{ filename }}</a>
    </li>
  {% endfor %}

{% endblock %}